.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  select {
    width: 100%;
    min-width: 15ch;
    max-width: 100px;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: rgb(231, 219, 219);
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }
  
  .message{
    justify-content: center;
    margin-top: 16px;
    font-size: 30px;
  }