<div class="content" role="main">
  <div class="card-container">
    <p class="message">Select Date</p>
  </div>
  
  <div class="card-container">
    <select [(ngModel)]="day" (ngModelChange)="onChangeDate()">
      <option *ngFor="let day of days" [value]="day">
        {{ day }}
      </option>
    </select>
    <select [(ngModel)]="month" (ngModelChange)="onChangeDate()">
      <option *ngFor="let month of months" [value]="month.value">
        {{ month.name }}
      </option>
    </select>
    <select [(ngModel)]="year" (ngModelChange)="onChangeDate()">
      <option *ngFor="let year of years" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>
  <div class="card-container">
    <p class="message">{{message}}</p>
  </div>
</div>